Software Artifacts/Maintenance_Orders/WSDLs/XSDs/GetMaintenanceOrders.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:m="http://epri.com/powergeneration/2020/GetMaintenanceOrders#" targetNamespace="http://epri.com/powergeneration/2020/GetMaintenanceOrders#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="GetMaintenanceOrders" type="m:GetMaintenanceOrders"/>
	<xs:complexType name="GetMaintenanceOrders">
		<xs:sequence>
			<xs:element name="AssetOperator" type="m:AssetOperator" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Location" type="m:Location" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NuclearGenerationStation" type="m:NuclearGenerationStation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PWRNuclearGenerationUnit" type="m:PWRNuclearGenerationUnit" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Address">
		<xs:annotation>
			<xs:documentation>General purpose street and postal address information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="country" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Address.country">
				<xs:annotation>
					<xs:documentation>Name of the country.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssetOperator" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#AssetOperator">
		<xs:annotation>
			<xs:documentation>Operator of the asset.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organisation" minOccurs="1" maxOccurs="1" type="m:Organisation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#OrganisationRole.Organisation">
				<xs:annotation>
					<xs:documentation>Organisation having this role.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CoolingWaterKind" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoolingWaterKind">
		<xs:restriction base="xs:string">
			<xs:enumeration value="brackish" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoolingWaterKind.brackish"/>
			<xs:enumeration value="fresh" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoolingWaterKind.fresh"/>
			<xs:enumeration value="other" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoolingWaterKind.other"/>
			<xs:enumeration value="riverWater" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoolingWaterKind.riverWater"/>
			<xs:enumeration value="seaWater" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoolingWaterKind.seaWater"/>
			<xs:enumeration value="tower" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#CoolingWaterKind.tower"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Location" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Location">
		<xs:annotation>
			<xs:documentation>The place, scene, or point of something where someone or something has been, is, and/or will be at a given moment in time. It can be defined with one or more postition points (coordinates) in a given coordinate system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" minOccurs="1" maxOccurs="1" type="m:Address" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Location.Address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name">
		<xs:annotation>
			<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.name">
				<xs:annotation>
					<xs:documentation>Any free text that name the object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameType" minOccurs="0" maxOccurs="1" type="m:NameType" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Name.NameType">
				<xs:annotation>
					<xs:documentation>Type of this name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType">
		<xs:annotation>
			<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:</xs:documentation>
			<xs:documentation>The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.name">
				<xs:annotation>
					<xs:documentation>Name of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTypeAuthority" minOccurs="0" maxOccurs="1" type="m:NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameType.NameTypeAuthority">
				<xs:annotation>
					<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority">
		<xs:annotation>
			<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NameTypeAuthority.name">
				<xs:annotation>
					<xs:documentation>Name of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NuclearGenerationStation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NuclearGenerationStation">
		<xs:annotation>
			<xs:documentation>A facility that generates electricity by means of nuclear power.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Organisation" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#Organisation">
		<xs:annotation>
			<xs:documentation>Organisation that might have roles as utility, contractor, supplier, manufacturer, customer, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PWRNuclearGenerationUnit" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PWRNuclearGenerationUnit">
		<xs:annotation>
			<xs:documentation>A pressurized water reactor nuclear generation unit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
					<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coolingWaterKind" minOccurs="0" maxOccurs="1" type="m:CoolingWaterKind" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PWRNuclearGenerationUnit.coolingWaterKind">
				<xs:annotation>
					<xs:documentation>Type of water used for station cooling, e.g. seawater, tower, brackish, fresh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coolingWaterKindOther" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PWRNuclearGenerationUnit.coolingWaterKindOther"/>
			<xs:element name="hasReplacementSteamGenerator" minOccurs="0" maxOccurs="1" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PWRNuclearGenerationUnit.hasReplacementSteamGenerator">
				<xs:annotation>
					<xs:documentation>True if one or more original construction steam generators have been replaced</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latestSteamGeneratorReplacementDate" minOccurs="0" maxOccurs="1" type="xs:date" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PWRNuclearGenerationUnit.latestSteamGeneratorReplacementDate">
				<xs:annotation>
					<xs:documentation>Date on which the most recent steam generator replacement occurred</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nuclearSteamSystemVendor" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#NuclearGenerationUnit.nuclearSteamSystemVendor"/>
			<xs:element name="numberOfSteamGenerators" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PWRNuclearGenerationUnit.numberOfSteamGenerators">
				<xs:annotation>
					<xs:documentation>Number of steam generators for this PWRNuclearGeneratingUnit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNumberOfColdLegs" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#PWRNuclearGenerationUnit.totalNumberOfColdLegs">
				<xs:annotation>
					<xs:documentation>Total number of steam generator cold legs for this PWRNuclearGeneratingUnit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://iec.ch/TC57/CIM-generic#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
