Software Artifacts/Heat_Transfer/REST-and-JSON/Heat_Transfer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://epri.com/powergeneration/2020/Heat_Transfer#" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://epri.com/powergeneration/2020/Heat_Transfer#">
<xs:annotation/>
<xs:element name="Heat_Transfer" type="m:Heat_Transfer"/>
<xs:complexType name="Heat_Transfer">
<xs:sequence>
<xs:element name="GenerationUnit" type="m:GenerationUnit" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Accumulator" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Accumulator">
<xs:annotation>
<xs:documentation>Accumulator represents an accumulated (counted) Measurement, e.g. an energy value.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Measurement">
<xs:sequence>
<xs:element name="AccumulatorValues" minOccurs="0" maxOccurs="unbounded" type="m:AccumulatorValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Accumulator.AccumulatorValues">
<xs:annotation>
<xs:documentation>The values connected to this measurement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AccumulatorValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#AccumulatorValue">
<xs:annotation>
<xs:documentation>AccumulatorValue represents an accumulated (counted) MeasurementValue.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:MeasurementValue">
<xs:sequence>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://epri.com/powergeneration/2020/#AccumulatorValue.value">
<xs:annotation>
<xs:documentation>The value to supervise. The value is positive.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Analog" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Analog">
<xs:annotation>
<xs:documentation>Analog represents an analog Measurement.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Measurement">
<xs:sequence>
<xs:element name="AnalogValues" minOccurs="0" maxOccurs="unbounded" type="m:AnalogValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Analog.AnalogValues">
<xs:annotation>
<xs:documentation>The values connected to this measurement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="AnalogValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#AnalogValue">
<xs:annotation>
<xs:documentation>AnalogValue represents an analog MeasurementValue.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:MeasurementValue">
<xs:sequence>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:float" sawsdl:modelReference="http://epri.com/powergeneration/2020/#AnalogValue.value">
<xs:annotation>
<xs:documentation>The value to supervise.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Asset" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Asset">
<xs:annotation>
<xs:documentation>The Asset business object includes legal (e.g. ownership), commercial, (e.g. supplier), financial (e.g. different type of cost), technical and managerial information for substation and network, energy resource (including distributed energy resource (DER), and non-electrical assets.</xs:documentation>
<xs:documentation>Identification numbers (specification number, product number, serial number) are central items that allows for collection of additional information associated with the asset.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Discrete" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Discrete">
<xs:annotation>
<xs:documentation>Discrete represents a discrete Measurement, i.e. a Measurement representing discrete values, e.g. a Breaker position.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Measurement">
<xs:sequence>
<xs:element name="DiscreteValues" minOccurs="0" maxOccurs="unbounded" type="m:DiscreteValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Discrete.DiscreteValues">
<xs:annotation>
<xs:documentation>The values connected to this measurement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="DiscreteValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#DiscreteValue">
<xs:annotation>
<xs:documentation>DiscreteValue represents a discrete MeasurementValue.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:MeasurementValue">
<xs:sequence>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:integer" sawsdl:modelReference="http://epri.com/powergeneration/2020/#DiscreteValue.value">
<xs:annotation>
<xs:documentation>The value to supervise.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MeasurementValueSource" minOccurs="0" maxOccurs="1" type="m:MeasurementValueSource" sawsdl:modelReference="http://epri.com/powergeneration/2020/#MeasurementValue.MeasurementValueSource">
<xs:annotation>
<xs:documentation>A reference to the type of source that updates the MeasurementValue, e.g. SCADA, CCLink, manual, etc. User conventions for the names of sources are contained in the introduction to IEC 61970-301.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="Equipment" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Equipment">
<xs:annotation>
<xs:documentation>The parts of a power system that are physical devices, electronic or mechanical.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="GenerationStation" sawsdl:modelReference="http://epri.com/powergeneration/2020/#GenerationStation">
<xs:annotation>
<xs:documentation>A facility containing one or more generating units</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="MeasurementPoint" minOccurs="0" maxOccurs="unbounded" type="m:MeasurementPoint" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Asset.MeasurementPoint">
<xs:annotation/>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="GenerationUnit" sawsdl:modelReference="http://epri.com/powergeneration/2020/#GenerationUnit">
<xs:annotation>
<xs:documentation>A generation unit is a collection of equipment within a generation station that converts a fuel source into electrical power.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="GenerationStation" minOccurs="0" maxOccurs="1" type="m:GenerationStation" sawsdl:modelReference="http://epri.com/powergeneration/2020/#GenerationUnit.GenerationStation">
<xs:annotation>
<xs:documentation>GeneratingStation containing GeneratingPlants</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://epri.com/powergeneration/2020/#PowerSystemResource.Measurement">
<xs:annotation>
<xs:documentation>The measurements associated with this power system resource.</xs:documentation>
</xs:annotation>
<xs:element name="Accumulator" minOccurs="1" maxOccurs="1" type="m:Accumulator" sawsdl:modelReference="">
<xs:annotation/>
</xs:element>
<xs:element name="Analog" minOccurs="1" maxOccurs="1" type="m:Analog" sawsdl:modelReference="">
<xs:annotation/>
</xs:element>
<xs:element name="Discrete" minOccurs="1" maxOccurs="1" type="m:Discrete" sawsdl:modelReference="">
<xs:annotation/>
</xs:element>
<xs:element name="StringMeasurement" minOccurs="1" maxOccurs="1" type="m:StringMeasurement" sawsdl:modelReference="">
<xs:annotation/>
</xs:element>
</xs:choice>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="IdentifiedObject" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject">
<xs:annotation>
<xs:documentation>This is a root class to provide common identification for all classes needing identification and naming attributes.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.description">
<xs:annotation>
<xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Measurement" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement">
<xs:annotation>
<xs:documentation>A Measurement represents any measured, calculated or non-measured non-calculated quantity. Any piece of equipment may contain Measurements, e.g. a substation may have temperature measurements and door open indications, a transformer may have oil temperature and tank pressure measurements, a bay may contain a number of power flow measurements and a Breaker may contain a switch status measurement.</xs:documentation>
<xs:documentation>The PSR - Measurement association is intended to capture this use of Measurement and is included in the naming hierarchy based on EquipmentContainer. The naming hierarchy typically has Measurements as leaves, e.g. Substation-VoltageLevel-Bay-Switch-Measurement.</xs:documentation>
<xs:documentation>Some Measurements represent quantities related to a particular sensor location in the network, e.g. a voltage transformer (VT) or potential transformer (PT) at a busbar or a current transformer (CT) at the bar between a breaker and an isolator. The sensing position is not captured in the PSR - Measurement association. Instead it is captured by the Measurement - Terminal association that is used to define the sensing location in the network topology. The location is defined by the connection of the Terminal to ConductingEquipment.</xs:documentation>
<xs:documentation>If both a Terminal and PSR are associated, and the PSR is of type ConductingEquipment, the associated Terminal should belong to that ConductingEquipment instance.</xs:documentation>
<xs:documentation>When the sensor location is needed both Measurement-PSR and Measurement-Terminal are used. The Measurement-Terminal association is never used alone.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="measurementType" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.measurementType">
<xs:annotation>
<xs:documentation>Specifies the type of measurement.  For example, this specifies if the measurement represents an indoor temperature, outdoor temperature, bus voltage, line flow, etc.</xs:documentation>
<xs:documentation>When the measurementType is set to "Specialization", the type of Measurement is defined in more detail by the specialized class which inherits from Measurement.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="uncefactUnitCode" minOccurs="0" maxOccurs="1" type="m:UncefactUnitCode" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.uncefactUnitCode">
<xs:annotation>
<xs:documentation>Contains a string value for units and multipliers from a list maintained by UN/CEFACT and described in recommendation No. 20, "Codes for Units of Measure Used in International Trade". Refer to the UN/CEFACT recommendation for details.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="unitMultiplier" minOccurs="0" maxOccurs="1" type="m:UnitMultiplier" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.unitMultiplier">
<xs:annotation>
<xs:documentation>The unit multiplier of the measured quantity.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="unitSymbol" minOccurs="0" maxOccurs="1" type="m:UnitSymbol" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.unitSymbol">
<xs:annotation>
<xs:documentation>The unit of measure of the measured quantity.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Asset" minOccurs="0" maxOccurs="1" type="m:Asset" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.Asset">
<xs:annotation/>
</xs:element>
<xs:element name="Equipment" minOccurs="0" maxOccurs="1" type="m:Equipment" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.Equipment">
<xs:annotation/>
</xs:element>
<xs:element name="MeasurementPoint" minOccurs="0" maxOccurs="1" type="m:MeasurementPoint" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.MeasurementPoint">
<xs:annotation/>
</xs:element>
<xs:element name="System" minOccurs="0" maxOccurs="1" type="m:System" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Measurement.System">
<xs:annotation/>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="MeasurementPoint" sawsdl:modelReference="http://epri.com/powergeneration/2020/#MeasurementPoint">
<xs:annotation>
<xs:documentation>The point in a non-electrical network where a measurement is carried out where measurements can be taken and to which calculated values can be attributed. The name and description should be used from the inherited IdentifiedObject class.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="MeasurementValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#MeasurementValue">
<xs:annotation>
<xs:documentation>The current state for a measurement. A state value is an instance of a measurement from a specific source. Measurements can be associated with many state values, each representing a different source for the measurement.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="sensorAccuracy" minOccurs="0" maxOccurs="1" type="m:PerCent" sawsdl:modelReference="http://epri.com/powergeneration/2020/#MeasurementValue.sensorAccuracy">
<xs:annotation>
<xs:documentation>The limit, expressed as a percentage of the sensor maximum, that errors will not exceed when the sensor is used under  reference conditions.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="timeStamp" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://epri.com/powergeneration/2020/#MeasurementValue.timeStamp">
<xs:annotation>
<xs:documentation>The time when the value was last updated.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="MeasurementValueSource" sawsdl:modelReference="http://epri.com/powergeneration/2020/#MeasurementValueSource">
<xs:annotation>
<xs:documentation>MeasurementValueSource describes the alternative sources updating a MeasurementValue. User conventions for how to use the MeasurementValueSource attributes are defined in IEC 61970-301.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="mRID" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.mRID">
<xs:annotation>
<xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID, as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.</xs:documentation>
<xs:documentation>For CIMXML data files in RDF syntax conforming to IEC 61970-552, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.description">
<xs:annotation>
<xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.name">
<xs:annotation>
<xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Name">
<xs:annotation>
<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Name.name">
<xs:annotation>
<xs:documentation>Any free text that name the object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameType" minOccurs="1" maxOccurs="1" type="m:NameType" sawsdl:modelReference="http://epri.com/powergeneration/2020/#Name.NameType">
<xs:annotation>
<xs:documentation>Type of this name.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameType" sawsdl:modelReference="http://epri.com/powergeneration/2020/#NameType">
<xs:annotation>
<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:</xs:documentation>
<xs:documentation>The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#NameType.description">
<xs:annotation>
<xs:documentation>Description of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#NameType.name">
<xs:annotation>
<xs:documentation>Name of the name type.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NameTypeAuthority" minOccurs="0" maxOccurs="1" type="m:NameTypeAuthority" sawsdl:modelReference="http://epri.com/powergeneration/2020/#NameType.NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://epri.com/powergeneration/2020/#NameTypeAuthority">
<xs:annotation>
<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#NameTypeAuthority.description">
<xs:annotation>
<xs:documentation>Description of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#NameTypeAuthority.name">
<xs:annotation>
<xs:documentation>Name of the name type authority.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StringMeasurement" sawsdl:modelReference="http://epri.com/powergeneration/2020/#StringMeasurement">
<xs:annotation>
<xs:documentation>StringMeasurement represents a measurement with values of type string.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:Measurement">
<xs:sequence>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="StringMeasurementValues" minOccurs="0" maxOccurs="unbounded" type="m:StringMeasurementValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#StringMeasurement.StringMeasurementValues">
<xs:annotation>
<xs:documentation>The values connected to this measurement.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="StringMeasurementValue" sawsdl:modelReference="http://epri.com/powergeneration/2020/#StringMeasurementValue">
<xs:annotation>
<xs:documentation>StringMeasurementValue represents a measurement value of type string.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:MeasurementValue">
<xs:sequence>
<xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://epri.com/powergeneration/2020/#StringMeasurementValue.value">
<xs:annotation>
<xs:documentation>The value to supervise.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MeasurementValueSource" minOccurs="0" maxOccurs="1" type="m:MeasurementValueSource" sawsdl:modelReference="http://epri.com/powergeneration/2020/#MeasurementValue.MeasurementValueSource">
<xs:annotation>
<xs:documentation>A reference to the type of source that updates the MeasurementValue, e.g. SCADA, CCLink, manual, etc. User conventions for the names of sources are contained in the introduction to IEC 61970-301.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="System" sawsdl:modelReference="http://epri.com/powergeneration/2020/#System">
<xs:annotation>
<xs:documentation>A collection of things (e.g., equipment) within a generation unit that work together to perform a function.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="m:IdentifiedObject">
<xs:sequence>
<xs:element name="Names" minOccurs="0" maxOccurs="unbounded" type="m:Name" sawsdl:modelReference="http://epri.com/powergeneration/2020/#IdentifiedObject.Names">
<xs:annotation>
<xs:documentation>All names of this identified object.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="UnitMultiplier" sawsdl:modelReference="http://epri.com/powergeneration/2020/#UnitMultiplier">
<xs:annotation>
<xs:documentation>The unit multipliers defined for the CIM.  When applied to unit symbols, the unit symbol is treated as a derived unit. Regardless of the contents of the unit symbol text, the unit symbol shall be treated as if it were a single-character unit symbol. Unit symbols should not contain multipliers, and it should be left to the multiplier to define the multiple for an entire data type.</xs:documentation>
<xs:documentation>For example, if a unit symbol is "m2Pers" and the multiplier is "k", then the value is k(m**2/s), and the multiplier applies to the entire final value, not to any individual part of the value. This can be conceptualized by substituting a derived unit symbol for the unit type. If one imagines that the symbol "Þ" represents the derived unit "m2Pers", then applying the multiplier "k" can be conceptualized simply as "kÞ".</xs:documentation>
<xs:documentation>For example, the SI unit for mass is "kg" and not "g".  If the unit symbol is defined as "kg", then the multiplier is applied to "kg" as a whole and does not replace the "k" in front of the "g". In this case, the multiplier of "m" would be used with the unit symbol of "kg" to represent one gram.  As a text string, this violates the instructions in IEC 80000-1. However, because the unit symbol in CIM is treated as a derived unit instead of as an SI unit, it makes more sense to conceptualize the "kg" as if it were replaced by one of the proposed replacements for the SI mass symbol. If one imagines that the "kg" were replaced by a symbol "Þ", then it is easier to conceptualize the multiplier "m" as creating the proper unit "mÞ", and not the forbidden unit "mkg".</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="E">
<xs:annotation>
<xs:documentation>Exa 10**18.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="G">
<xs:annotation>
<xs:documentation>Giga 10**9.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="M">
<xs:annotation>
<xs:documentation>Mega 10**6.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="P">
<xs:annotation>
<xs:documentation>Peta 10**15.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="T">
<xs:annotation>
<xs:documentation>Tera 10**12.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Y">
<xs:annotation>
<xs:documentation>Yotta 10**24.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Z">
<xs:annotation>
<xs:documentation>Zetta 10**21.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="a">
<xs:annotation>
<xs:documentation>Atto 10**-18.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="c">
<xs:annotation>
<xs:documentation>Centi 10**-2.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="d">
<xs:annotation>
<xs:documentation>Deci 10**-1.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="da">
<xs:annotation>
<xs:documentation>Deca 10**1.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="f">
<xs:annotation>
<xs:documentation>Femto 10**-15.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="h">
<xs:annotation>
<xs:documentation>Hecto 10**2.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="k">
<xs:annotation>
<xs:documentation>Kilo 10**3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m">
<xs:annotation>
<xs:documentation>Milli 10**-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="micro">
<xs:annotation>
<xs:documentation>Micro 10**-6.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="n">
<xs:annotation>
<xs:documentation>Nano 10**-9.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="none">
<xs:annotation>
<xs:documentation>No multiplier or equivalently multiply by 1.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="p">
<xs:annotation>
<xs:documentation>Pico 10**-12.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="y">
<xs:annotation>
<xs:documentation>Yocto 10**-24.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="z">
<xs:annotation>
<xs:documentation>Zepto 10**-21.</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnitSymbol" sawsdl:modelReference="http://epri.com/powergeneration/2020/#UnitSymbol">
<xs:annotation>
<xs:documentation>The derived units defined for usage in the CIM. In some cases, the derived unit is equal to an SI unit. Whenever possible, the standard derived symbol is used instead of the formula for the derived unit. For example, the unit symbol Farad is defined as "F" instead of "CPerV". In cases where a standard symbol does not exist for a derived unit, the formula for the unit is used as the unit symbol. For example, density does not have a standard symbol and so it is represented as "kgPerm3". With the exception of the "kg", which is an SI unit, the unit symbols do not contain multipliers and therefore represent the base derived unit to which a multiplier can be applied as a whole.</xs:documentation>
<xs:documentation>Every unit symbol is treated as an unparseable text as if it were a single-letter symbol. The meaning of each unit symbol is defined by the accompanying descriptive text and not by the text contents of the unit symbol.</xs:documentation>
<xs:documentation>To allow the widest possible range of serializations without requiring special character handling, several substitutions are made which deviate from the format described in IEC 80000-1. The division symbol "/" is replaced by the letters "Per". Exponents are written in plain text after the unit as "m3" instead of being formatted as in "m&lt;sup&gt;3&lt;/sup&gt;" or introducing a symbol as in "m^3". The degree symbol "°" is replaced with the letters "deg". Any clarification of the meaning for a substitution is included in the description for the unit symbol.</xs:documentation>
<xs:documentation>Non-SI units are included in list of unit symbols to allow sources of data to be correctly labelled with their non-SI units (for example, a GPS sensor that is reporting numbers that represent feet instead of meters). This allows software to use the unit symbol information correctly convert and scale the raw data of those sources into SI-based units.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="A">
<xs:annotation>
<xs:documentation>Current in amperes.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="A2">
<xs:annotation>
<xs:documentation>Amperes squared (A²).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="A2h">
<xs:annotation>
<xs:documentation>Ampere-squared hour, ampere-squared hour.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="A2s">
<xs:annotation>
<xs:documentation>Ampere squared time in square amperes (A²s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="APerA">
<xs:annotation>
<xs:documentation>Current, ratio of amperages.   Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mA/A’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="APerm">
<xs:annotation>
<xs:documentation>A/m, magnetic field strength, amperes per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Ah">
<xs:annotation>
<xs:documentation>Ampere-hours, ampere-hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="As">
<xs:annotation>
<xs:documentation>Ampere seconds (A·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Bq">
<xs:annotation>
<xs:documentation>Radioactivity in becquerels (1/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Btu">
<xs:annotation>
<xs:documentation>Energy, British Thermal Units.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="BtuPerh">
<xs:annotation>
<xs:documentation>British Thermal Units per hour</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="C">
<xs:annotation>
<xs:documentation>Electric charge in coulombs (A·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CPerkg">
<xs:annotation>
<xs:documentation>Exposure (x rays), coulombs per kilogram.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CPerm2">
<xs:annotation>
<xs:documentation>Surface charge density, coulombs per square metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CPerm3">
<xs:annotation>
<xs:documentation>Electric charge density, coulombs per cubic metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Ci">
<xs:annotation>
<xs:documentation>Curie, unit of radioactivity</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="CiPerl">
<xs:annotation>
<xs:documentation>Curies per litre</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="F">
<xs:annotation>
<xs:documentation>Electric capacitance in farads (C/V).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="FPerm">
<xs:annotation>
<xs:documentation>Permittivity, farads per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="G">
<xs:annotation>
<xs:documentation>Magnetic flux density, gausses (1 G = 10-4 T).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Gy">
<xs:annotation>
<xs:documentation>Absorbed dose in grays (J/kg).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="GyPers">
<xs:annotation>
<xs:documentation>Absorbed dose rate, grays per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="H">
<xs:annotation>
<xs:documentation>Electric inductance in henrys (Wb/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="HPerm">
<xs:annotation>
<xs:documentation>Permeability, henrys per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Hz">
<xs:annotation>
<xs:documentation>Frequency in hertz (1/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="HzPerHz">
<xs:annotation>
<xs:documentation>Frequency, rate of frequency change.   Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mHz/Hz’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="HzPers">
<xs:annotation>
<xs:documentation>Rate of change of frequency in hertz per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="J">
<xs:annotation>
<xs:documentation>Energy in joules (N·m = C·V = W·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerK">
<xs:annotation>
<xs:documentation>Heat capacity in joules/kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerkg">
<xs:annotation>
<xs:documentation>Specific energy, Joules / kg.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerkgK">
<xs:annotation>
<xs:documentation>Specific heat capacity, specific entropy, joules per kilogram Kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerm2">
<xs:annotation>
<xs:documentation>Insulation energy density, joules per square metre or watt second per square metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPerm3">
<xs:annotation>
<xs:documentation>Energy density, joules per cubic metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPermol">
<xs:annotation>
<xs:documentation>Molar energy, joules per mole.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPermolK">
<xs:annotation>
<xs:documentation>Molar entropy, molar heat capacity, joules per mole kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="JPers">
<xs:annotation>
<xs:documentation>Energy rate in joules per second (J/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="K">
<xs:annotation>
<xs:documentation>Temperature in kelvins.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="KPers">
<xs:annotation>
<xs:documentation>Temperature change rate in kelvins per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="M">
<xs:annotation>
<xs:documentation>Length, nautical miles (1 M = 1852 m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Mx">
<xs:annotation>
<xs:documentation>Magnetic flux, maxwells (1 Mx = 10-8 Wb).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="N">
<xs:annotation>
<xs:documentation>Force in newtons (kg·m/s²).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="NPerm">
<xs:annotation>
<xs:documentation>Surface tension, newton per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="NTU">
<xs:annotation>
<xs:documentation>Nephelometric Turbidity</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Nm">
<xs:annotation>
<xs:documentation>Moment of force, newton metres.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Oe">
<xs:annotation>
<xs:documentation>Magnetic field in oersteds, (1 Oe = (103/4p) A/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Pa">
<xs:annotation>
<xs:documentation>Pressure in pascals (N/m²). Note: the absolute or relative measurement of pressure is implied with this entry. See below for more explicit forms.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="PaPers">
<xs:annotation>
<xs:documentation>Pressure change rate in pascals per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Pas">
<xs:annotation>
<xs:documentation>Dynamic viscosity, pascal seconds.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Q">
<xs:annotation>
<xs:documentation>Quantity power, Q.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Qh">
<xs:annotation>
<xs:documentation>Quantity energy, Qh.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="S">
<xs:annotation>
<xs:documentation>Conductance in siemens.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="SPercm">
<xs:annotation>
<xs:documentation>Conductance per length (S/cm).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="SPerm">
<xs:annotation>
<xs:documentation>Conductance per length (S/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Sv">
<xs:annotation>
<xs:documentation>Dose equivalent in sieverts (J/kg).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="T">
<xs:annotation>
<xs:documentation>Magnetic flux density in teslas (Wb/m2).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="V">
<xs:annotation>
<xs:documentation>Electric potential in volts (W/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="V2">
<xs:annotation>
<xs:documentation>Volt squared (W²/A²).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="V2h">
<xs:annotation>
<xs:documentation>Volt-squared hour, volt-squared-hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VA">
<xs:annotation>
<xs:documentation>Apparent power in volt amperes. See also real power and reactive power.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VAh">
<xs:annotation>
<xs:documentation>Apparent energy in volt ampere hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VAr">
<xs:annotation>
<xs:documentation>Reactive power in volt amperes reactive. The “reactive” or “imaginary” component of electrical power (VIsin(phi)). (See also real power and apparent power).</xs:documentation>
<xs:documentation>Note: Different meter designs use different methods to arrive at their results. Some meters may compute reactive power as an arithmetic value, while others compute the value vectorially. The data consumer should determine the method in use and the suitability of the measurement for the intended purpose.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VArh">
<xs:annotation>
<xs:documentation>Reactive energy in volt ampere reactive hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerHz">
<xs:annotation>
<xs:documentation>Magnetic flux in volt per hertz.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerV">
<xs:annotation>
<xs:documentation>Voltage, ratio of voltages.  Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mV/V’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerVA">
<xs:annotation>
<xs:documentation>Power factor, PF, the ratio of the active power to the apparent power.  Note: The sign convention used for power factor will differ between IEC meters and EEI (ANSI) meters. It is assumed that the data consumers understand the type of meter being used and agree on the sign convention in use at any given utility.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerVAr">
<xs:annotation>
<xs:documentation>Power factor, PF, the ratio of the active power to the apparent power. Note: The sign convention used for power factor will differ between IEC meters and EEI (ANSI) meters. It is assumed that the data consumers understand the type of meter being used and agree on the sign convention in use at any given utility.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="VPerm">
<xs:annotation>
<xs:documentation>Electric field strength, volts per metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Vh">
<xs:annotation>
<xs:documentation>Volt-hour, Volt hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Vs">
<xs:annotation>
<xs:documentation>Volt seconds (Ws/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="W">
<xs:annotation>
<xs:documentation>Real power in watts (J/s). Electrical power may have real and reactive components. The real portion of electrical power (I&amp;#178;R or VIcos(phi)), is expressed in Watts. See also apparent power and reactive power.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerA">
<xs:annotation>
<xs:documentation>Active power per current flow, watts per Ampere.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerW">
<xs:annotation>
<xs:documentation>Signal Strength, ratio of power.   Note: Users may need to supply a prefix such as ‘m’ to show rates such as ‘mW/W’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerm2">
<xs:annotation>
<xs:documentation>Heat flux density, irradiance, watts per square metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPerm2sr">
<xs:annotation>
<xs:documentation>Radiance, watts per square metre steradian.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPermK">
<xs:annotation>
<xs:documentation>Thermal conductivity in watt/metres kelvin.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPers">
<xs:annotation>
<xs:documentation>Ramp rate in watts per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="WPersr">
<xs:annotation>
<xs:documentation>Radiant intensity, watts per steradian.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Wb">
<xs:annotation>
<xs:documentation>Magnetic flux in webers (V·s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Wh">
<xs:annotation>
<xs:documentation>Real energy in watt hours.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="anglemin">
<xs:annotation>
<xs:documentation>Plane angle, minutes.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="anglesec">
<xs:annotation>
<xs:documentation>Plane angle, seconds.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="bar">
<xs:annotation>
<xs:documentation>Pressure in bars, (1 bar = 100 kPa).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ccPerkg">
<xs:annotation>
<xs:documentation>Inverse concentration. Cubic centimetres per kilogram.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="cd">
<xs:annotation>
<xs:documentation>Luminous intensity in candelas.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="charPers">
<xs:annotation>
<xs:documentation>Data rate (baud) in characters per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="character">
<xs:annotation>
<xs:documentation>Number of characters.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="cosPhi">
<xs:annotation>
<xs:documentation>Power factor, dimensionless.</xs:documentation>
<xs:documentation>Note 1: This definition of power factor only holds for balanced systems. See the alternative definition under code 153.</xs:documentation>
<xs:documentation>Note 2 : Beware of differing sign conventions in use between the IEC and EEI. It is assumed that the data consumer understands the type of meter in use and the sign convention in use by the utility.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="count">
<xs:annotation>
<xs:documentation>Amount of substance, Counter value.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="d">
<xs:annotation>
<xs:documentation>Time in days, day = 24 h = 86400 s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="dB">
<xs:annotation>
<xs:documentation>Sound pressure level in decibels. Note:  multiplier “d” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="dBm">
<xs:annotation>
<xs:documentation>Power level (logarithmic ratio of signal strength , Bel-mW), normalized to 1mW. Note:  multiplier “d” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="deg">
<xs:annotation>
<xs:documentation>Plane angle in degrees.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="degC">
<xs:annotation>
<xs:documentation>Relative temperature in degrees Celsius.</xs:documentation>
<xs:documentation>In the SI unit system the symbol is °C. Electric charge is measured in coulomb that has the unit symbol C. To distinguish degree Celsius from coulomb the symbol used in the UML is degC. The reason for not using °C is that the special character ° is difficult to manage in software.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="degF">
<xs:annotation>
<xs:documentation>Temperature in degrees Fahrenheit</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ft">
<xs:annotation>
<xs:documentation>Length in feet</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ft2">
<xs:annotation>
<xs:documentation>Area in square feet</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ft3">
<xs:annotation>
<xs:documentation>Volume, cubic feet.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="gPerg">
<xs:annotation>
<xs:documentation>Concentration, The ratio of the mass of a solute divided by the mass of  the solution. Note: Users may need use a prefix such a ‘µ’ to express a quantity such as ‘µg/g’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="gPerl">
<xs:annotation>
<xs:documentation>Concentration in grams per litre</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="gal">
<xs:annotation>
<xs:documentation>Volume in gallons, US gallon (1 gal = 231 in3 = 128 fl ounce).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="galPerd">
<xs:annotation>
<xs:documentation>Gallons per day</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="galPerh">
<xs:annotation>
<xs:documentation>Gallons per hour</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="h">
<xs:annotation>
<xs:documentation>Time in hours, hour = 60 min = 3600 s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ha">
<xs:annotation>
<xs:documentation>Area, hectares.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="in">
<xs:annotation>
<xs:documentation>Length in inches</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="in2">
<xs:annotation>
<xs:documentation>Area in square inches</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="in3">
<xs:annotation>
<xs:documentation>Volume in cubic inches</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kat">
<xs:annotation>
<xs:documentation>Catalytic activity, katal = mol / s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="katPerm3">
<xs:annotation>
<xs:documentation>Catalytic activity concentration, katals per cubic metre.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kg">
<xs:annotation>
<xs:documentation>Mass in kilograms.  Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgPerJ">
<xs:annotation>
<xs:documentation>Weight per energy in kilograms per joule (kg/J). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgPerd">
<xs:annotation>
<xs:documentation>kilograms per day</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgPerh">
<xs:annotation>
<xs:documentation>kilograms per hour</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgPerm3">
<xs:annotation>
<xs:documentation>Density in kilogram/cubic metres (kg/m³). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgm">
<xs:annotation>
<xs:documentation>Moment of mass in kilogram metres (kg·m) (first moment of mass). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kgm2">
<xs:annotation>
<xs:documentation>Moment of mass in kilogram square metres (kg·m²) (Second moment of mass, commonly called the moment of inertia). Note: multiplier “k” is included in this unit symbol for compatibility with IEC 61850-7-3.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="kn">
<xs:annotation>
<xs:documentation>Speed, knots (1 kn = 1852/3600) m/s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="l">
<xs:annotation>
<xs:documentation>Volume in litres, litre = dm3 = m3/1000.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lPerh">
<xs:annotation>
<xs:documentation>Volumetric flow rate, litres per hour.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lPerkg">
<xs:annotation>
<xs:documentation>Concentration. Litres per kg.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lPerl">
<xs:annotation>
<xs:documentation>Concentration, The ratio of the volume of a solute divided by the volume of  the solution. Note: Users may need use a prefix such a ‘µ’ to express a quantity such as ‘µL/L’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lPers">
<xs:annotation>
<xs:documentation>Volumetric flow rate in litres per second.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lm">
<xs:annotation>
<xs:documentation>Luminous flux in lumens (cd·sr).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="lx">
<xs:annotation>
<xs:documentation>Illuminance in lux (lm/m²).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m">
<xs:annotation>
<xs:documentation>Length in metres.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m2">
<xs:annotation>
<xs:documentation>Area in square metres (m²).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m2Pers">
<xs:annotation>
<xs:documentation>Viscosity in square metres / second (m²/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3">
<xs:annotation>
<xs:documentation>Volume in cubic metres (m³).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Compensated">
<xs:annotation>
<xs:documentation>Volume, cubic metres, with the value compensated for weather effects.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Perh">
<xs:annotation>
<xs:documentation>Volumetric flow rate, cubic metres per hour.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Perkg">
<xs:annotation>
<xs:documentation>Specific volume, cubic metres per kilogram, v.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Pers">
<xs:annotation>
<xs:documentation>Volumetric flow rate in cubic metres per second (m³/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="m3Uncompensated">
<xs:annotation>
<xs:documentation>Volume, cubic metres, with the value uncompensated for weather effects.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mPerm3">
<xs:annotation>
<xs:documentation>Fuel efficiency in metres per cubic metres (m/m³).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mPers">
<xs:annotation>
<xs:documentation>Velocity in metres per second (m/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mPers2">
<xs:annotation>
<xs:documentation>Acceleration in metres per second squared (m/s²).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="min">
<xs:annotation>
<xs:documentation>Time in minutes, minute  = 60 s.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mmHg">
<xs:annotation>
<xs:documentation>Pressure, millimetres of mercury (1 mmHg is approximately 133.3 Pa).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="mol">
<xs:annotation>
<xs:documentation>Amount of substance in moles.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="molPerkg">
<xs:annotation>
<xs:documentation>Concentration, Molality, the amount of solute in moles and the amount of solvent in kilograms.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="molPerm3">
<xs:annotation>
<xs:documentation>Concentration, The amount of substance concentration, (c), the amount of solvent in moles divided by the volume of solution in m³.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="molPermol">
<xs:annotation>
<xs:documentation>Concentration, Molar fraction, the ratio of the molar amount of a solute divided by the molar amount of the solution.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="none">
<xs:annotation>
<xs:documentation>Dimension less quantity, e.g. count, per unit, etc.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ohm">
<xs:annotation>
<xs:documentation>Electric resistance in ohms (V/A).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ohmPerm">
<xs:annotation>
<xs:documentation>Electric resistance per length in ohms per metre ((V/A)/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="ohmm">
<xs:annotation>
<xs:documentation>Resistivity, ohm metres, (rho).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="onePerHz">
<xs:annotation>
<xs:documentation>Reciprocal of frequency (1/Hz).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="onePerm">
<xs:annotation>
<xs:documentation>Wavenumber, reciprocal metres,  (1/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="pH">
<xs:annotation>
<xs:documentation>Unit of acidity or alkalinity</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="perCent">
<xs:annotation/>
</xs:enumeration>
<xs:enumeration value="ppm">
<xs:annotation>
<xs:documentation>Concentration in parts per million.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="psia">
<xs:annotation>
<xs:documentation>Pounds per square inch absolute</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="psig">
<xs:annotation>
<xs:documentation>Pounds per square inch gauge</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rad">
<xs:annotation>
<xs:documentation>Plane angle in radians (m/m).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="radPers">
<xs:annotation>
<xs:documentation>Angular velocity in radians per second (rad/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="radPers2">
<xs:annotation>
<xs:documentation>Angular acceleration, radians per second squared.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rev">
<xs:annotation>
<xs:documentation>Amount of rotation, revolutions.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="rotPers">
<xs:annotation>
<xs:documentation>Rotations per second (1/s). See also Hz (1/s).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="s">
<xs:annotation>
<xs:documentation>Time in seconds.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="sPers">
<xs:annotation>
<xs:documentation>Time, Ratio of time.  Note: Users may need to supply a prefix such as ‘&amp;#181;’ to show rates such as ‘&amp;#181;s/s’.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="sr">
<xs:annotation>
<xs:documentation>Solid angle in steradians (m2/m2).</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="therm">
<xs:annotation>
<xs:documentation>Energy, therms.</xs:documentation>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="tonne">
<xs:annotation>
<xs:documentation>Mass in tons, “tonne” or “metric  ton” (1000 kg = 1 Mg).</xs:documentation>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PerCent" sawsdl:modelReference="http://epri.com/powergeneration/2020/#PerCent">
<xs:annotation>
<xs:documentation>Percentage on a defined base.   For example, specify as 100 to indicate at the defined base.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:float"/>
</xs:simpleType>
<xs:simpleType name="UncefactUnitCode" sawsdl:modelReference="http://epri.com/powergeneration/2020/#UncefactUnitCode">
<xs:annotation>
<xs:documentation>Contains a string value for units and multipliers from a list maintained by UN/CEFACT and described in recommendation No. 20, "Codes for Units of Measure Used in International Trade". Refer to the UN/CEFACT recommendation for details.</xs:documentation>
</xs:annotation>
<xs:restriction base="xs:string"/>
</xs:simpleType>
</xs:schema>
